<section>
        <form class="form-horizontal">
            <fieldset>
                <!-- Form Name -->
                <legend>Two Teams</legend>
                <div class="form-group">
                    <div class="col-md-6">
                        <!-- Select Basic -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="SelectTeamOne">Select Team One</label>
                            <div class="col-md-4">
                                <select id="SelectTeamOne" name="TeamOne" class="form-control">
                                    <option value="1">Team1</option>
                                    <option value="2">Team2</option>
                                    <option value="3">Team3</option>
                                </select>
                            </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="SelectTeamTwo">Select Team Two</label>
                            <div class="col-md-4">
                                <select id="SelectTeamTwo" name="TeamTwo" class="form-control">
                                    <option value="1">Team1</option>
                                    <option value="2">Team2</option>
                                    <option value="3">Team3</option>
                                </select>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="NrOfMatches">Number of Matches</label>
                            <div class="col-md-4">
                                <input id="NrOfMatches" name="NrOfMatches" type="text" placeholder="" class="form-control">
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-4">
                                <button id="submitSim" name="submitSim" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                    <!--Result dropdowns-->
                    <div class="col-md-6 sim">
                        <div class="col-md-12" >
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default" >
                                    <div class="panel-heading" >
                                        <h4 class="panel-title matchinfo" >
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" >
                                               TeamOskar 1 - 0 TeamOne
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse in" >
                                        <div class="panel-body center">
                                            Seed: 8e48b7d2-2c2c-4d9d-8650-ba4cad04949f
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title matchinfo">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                                TeamOskar 1 - 1 TeamOne
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body center">
                                            Seed: 8e48b7d2-2c2c-4d9d-8650-ba4cad04949f
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title matchinfo">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                                TeamOskar 3 - 0 TeamOne
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse">
                                        <div class="panel-body center">
                                            Seed: 8e48b7d2-2c2c-4d9 d-8650-ba4cad04949f
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title matchinfo">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                                TeamOskar 5 - 2 TeamOne
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse4" class="panel-collapse collapse">
                                        <div class="panel-body center">
                                            Seed: 8e48b7d2-2c2c-4d9d-8650-ba4cad04949f
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title matchinfo">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                                TeamOskar 4 - 4 TeamOne
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse5" class="panel-collapse collapse">
                                        <div class="panel-body center">
                                            Seed: 8e48b7d2-2c2c-4d9d-8650-ba4cad04949f
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </section>