@using System.Linq
@using BitSoccerWeb.Models
@using BitSoccerWeb.Views.Manage
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">Profile</a></li>
    <li class="@ManageNavPages.TeamNavClass(ViewContext)"><a asp-action="Team">Your teams</a></li>
    <li class="@ManageNavPages.HistoryNavClass(ViewContext)"><a asp-action="History">History</a></li>
</ul>

