@using BitSoccerWeb.Models.ManageViewModels
@using BitSoccerWeb.Views.Manage
@using Microsoft.AspNetCore.Mvc.Rendering
@model BitSoccerWeb.Models.ManageViewModels.IndexViewModel
@{
    ViewData["Title"] = "History";
    ViewData.AddActivePage(ManageNavPages.History);
}

<h4>@ViewData["Title"]</h4>

