@using BitSoccerWeb.Models.ManageViewModels
@using BitSoccerWeb.Views.Manage
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Team";
    ViewData.AddActivePage(ManageNavPages.Team);
}

<h4>@ViewData["Title"]</h4>

