@Html.Partial("_Info")

<div>
    <h3>How to get started:</h3>
    <ol>
        <li>Download the necessary files</li>
        <li>Code your AI</li>
        <li>Upload the .dll</li>
        <li>Play versus other teams</li>
    </ol>
</div>