<div class="row">
    @using (Html.BeginForm("Upload",
                    "GetStarted",
                    FormMethod.Post,
                    new { enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Upload your DLL file</legend>
            <div class="form-group">
                <label class="col-lg-2 control-label">Upload DLL</label>
                <div class="col-lg-10">
                    <div style="position:relative;">
                        <label class="btn btn-primary btn-file">
                            Choose file <input type="file" name="file" style="display: none;" onchange='$("#upload-file-info").show().val($(this).val());'>
                        </label>
                        <div style="display:inline-block">
                            <input type="text" class="form-control" id="upload-file-info" style="display:none;width:350px;" readonly />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            @if (ViewBag.Message != null)
                {
                <div class="well">
                    <b>@ViewBag.Message</b>
                </div>
            }
        </fieldset>
    }
</div>