@using MvcCheckBoxList.Model
@model bitsoccer.net.Models.CheckBoxViewModel

<h1>@ViewBag.Title</h1>




<div class="col-md-7">

    <div class="game"></div>
</div>
<div class="col-md-5">
    @Html.Partial("_Upload")
    <section class="checkBoxListFor">
        <p>
            <label>Please Select two teams:</label>
            @using (Html.BeginForm("CheckboxIndex", "GetStarted", FormMethod.Post))
            {
                @Html.CheckBoxListFor(model => model.PostedCheckBoxes.CheckBoxIds,
                    model => model.AvailableCheckBoxes,
                    checkbox => checkbox.Path,
                    checkbox => checkbox.Name,
                    model => model.SelectedCheckBoxes,
                    Position.Vertical)
                <input class="green" type="submit"
                       value="Play"/>
            }
        </p>
    </section>
</div>