@using Microsoft.AspNetCore.Mvc.Rendering
@model BitSoccerWeb.Models.HomeViewModels.DropDownViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container container-top">
    <div class="row">
                <div id="game-div" class="game-div"></div>       
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <form asp-controller="Home" asp-action="Index" method="post">
                <select asp-for="Teams" asp-items="@Model.Teams" class="h1"> 
                    <span id="teamOneName">
                        Team1
                    </span>
                </h1>
            </form>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <h1 class="center">
                [<span id="teamOneScore">0</span>-<span id="teamTwoScore">0</span>]
            </h1>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <form asp-controller="Home" asp-action="Index" method="post">
                <select id="SelectTeamTwo" name="TeamTwo" class="h1 center">
                    <span id="teamTwoName">
                        Team2
                    </span>
                </select>
            </form>
        </div>
    </div>
</div>
