@{
    ViewData["Title"] = "Home Page";
}

<div class="container container-top">
    <div id="game-div" class="row">
        <!-- The p5-sketch that shows a match lives here. -->
    </div>

    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Home" asp-action="Index" method="post">
                <h1 class="center">
                    <span id="teamOneName">
                        Team1
                    </span>
                </h1>
            </form>
        </div>
        <div class="col-md-4">
            <h1 class="center">
                [<span id="teamOneScore">0</span>-<span id="teamTwoScore">0</span>]
            </h1>
        </div>
        <div class="col-md-4">
            <form asp-controller="Home" asp-action="Index" method="post">
                <h1 class="center">
                    <span id="teamTwoName">
                        Team2
                    </span>
                </h1>
            </form>
        </div>
    </div>
</div>