
@{
    ViewData["Title"] = "Simulations";
}

<h2>Simulations</h2>
<div class="well">
    <section>
        <form class="form-horizontal">
            <fieldset>
                <!-- Form Name -->
                <legend>Form Name</legend>
                <div class="form-group">
                    <div class="col-md-6">
                        <!-- Select Basic -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="SelectTeamOne">Select Team One</label>
                            <div class="col-md-4">
                                <select id="SelectTeamOne" name="TeamOne" class="form-control">
                                    <option value="1">Team1</option>
                                    <option value="2">Team2</option>
                                    <option value="3">Team3</option>
                                </select>
                            </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="SelectTeamTwo">Select Team Two</label>
                            <div class="col-md-4">
                                <select id="SelectTeamTwo" name="TeamTwo" class="form-control">
                                    <option value="1">Team1</option>
                                    <option value="2">Team2</option>
                                    <option value="3">Team3</option>
                                </select>
                            </div>
                        </div>
                        <div id="test"></div>
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-4">
                                <a href="#" id="btn-add" class="btn btn-xs" onclick="add();"><span class="glyphicon glyphicon-plus"></span> Add</a>
                            </div>
                        </div>
                        
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="textinput">Text Input</label>
                            <div class="col-md-4">
                                <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
                                <span class="help-block">help</span>
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
                            <div class="col-md-4">
                                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 sim">
                        <div class="col-md-12">
                            <br /> Team 1 .............. 1 - 0 .............. Team 2 &nbsp;&nbsp;&nbsp;&nbsp; seed: 12gsd8-1231f-5125
                            <br /> Team 1 .............. 1 - 0 .............. Team 2 &nbsp;&nbsp;&nbsp;&nbsp; seed: 12gsd8-1231f-51&nbsp;25
                            <br /> Team 1 .............. 1 - 0 .............. Team 2 &nbsp;&nbsp;&nbsp;&nbsp; seed: 12gsd8-1231f-51&nbsp;25
                            <br /> Team 1 .............. 1 - 0 .............. Team 2 &nbsp;&nbsp;&nbsp;&nbsp; seed: 12gsd8-1231f-51&nbsp;25
                            <br /> Team 1 .............. 1 - 0 .............. Team 2 &nbsp;&nbsp;&nbsp;&nbsp; seed: 12gsd8-1231f-51&nbsp;25
                            <br /> Team 1 .............. 1 - 0 .............. Team 2 &nbsp;&nbsp;&nbsp;&nbsp; seed: 12gsd8-1231f-51&nbsp;25
                            <br /> Team 1 .............. 1 - 0 .............. Team 2 &nbsp;&nbsp;&nbsp;&nbsp; seed: 12gsd8-1231f-51&nbsp;25
                            <br /> Team 1 .............. 1 - 0 .............. Team 2 &nbsp;&nbsp;&nbsp;&nbsp; seed: 12gsd8-1231f-51&nbsp;25
                            <br /> Team 1 .............. 1 - 0 .............. Team 2 &nbsp;&nbsp;&nbsp;&nbsp; seed: 12gsd8-1231f-51&nbsp;25
                        </div>    
                    </div>
                </div>

            </fieldset>
        </form>
    </section>
</div>
