@using System.Collections.Generic
@using Common
@{
    ViewData["Title"] = "Team";
}

<h2>@ViewData["Title"]</h2>

@if (ViewData["Teams"] != null)
{
    var teams = ViewData["Teams"] as List<Team>;
    
    foreach (var team in teams)
    {
        <p>
            @team.ToString();
        </p>
    }
}
else
{
    <p>
        Has no Teams!
    </p>
}
