
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.footer.footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.footer ul {
    padding-left: 45%;
}

.footer p {
    text-align: center;
}


.footer li {
    padding: 5px;
}

.footer h3 {
    padding-left: 40%;
}

.center {
    text-align: center;
    color: #000000;
}

.nav-style {
    background-color: whitesmoke; 
}

.nav-sticky {
    position: sticky;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
    min-height: 50px;
}

.img-height {
    height: 70%;
    width: 70%;
}
