
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.center {
    text-align: center;
    /*color: #000000;*/
    color: #ff0000;
}


/**/

.TextInFooter {
    text-align:center;
    color: red;
}


.social-icons {
    text-align:center;
    border-top: 1px solid #c4c4c4;
    padding-left:10px;
    padding-top:20px;
   
}

    .social-icons > li {
        display: inline-block;
    }

        .social-icons > li > a {
            background: #f5f5f5;
            display: block;
            margin: 0 20px 8px 0;
            line-height: 32px;
            height: 32px;
            width: 32px;
            color: #777777;
        }

            .social-icons > li > a:hover,
            .social-icons > li > a:focus {
                background: #c4c4c4;
                color: #ffffff;
            }

/* --- [ Social Icons Size ] --- */

.social-icons-lg > li > a {
    line-height: 48px;
    font-size: 24px;
    height: 48px;
    width: 48px;
}



.nav-style {
    background-color: whitesmoke; 
}

.nav-sticky {
    position: sticky;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
    min-height: 50px;
}
